<!DOCTYPE html>
<html>
<head>
</head>
<body>
	<ul class="list-param">
        <li><span>Màn hình:</span>IPS LCD, 5.5", Full HD</li>
        <li><span>Hệ điều hành:</span>Android 6.0 (Marshmallow)</li>
        <li><span>Camera sau:</span>12 MP và 2 MP (Hai camera)</li>
        <li><span>Camera trước:</span>8 MP</li>
        <li><span>CPU:</span>HiSilicon Kirin 655</li>
        <li><span>RAM:</span>3 GB</li>
        <li><span>Bộ nhớ trong:</span>32 GB</li>
        <li><span>Hỗ trợ thẻ nhớ:</span>128 GB</li>
        <li><span>Thẻ SIM:</span>2 SIM, SIM 2 chung khe thẻnhớ, Nano SIM</li>
        <li><span>Dung lượng pin:</span>3340 mAh</li>
    </ul>
</body>
</html>